{% extends base_template %}

{% block list_table %}

  <style>
    h3 {
          margin-left: 20px;
    }
    p {
          margin-left: 20px;
    }

    #comments-wrapper {
    }

    .single-comment {
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .user-name-date-wrapper {
      padding:0.3em;
      border: solid 1px black;
      text-align: center;
      margin-right: 2em;
    }

    div.user-name-date-wrapper p {
      float: top;
    }

    #report-comments-wrapper {
    }

    .usr-name {
    }

    .date {
    }


    .delete-button {
      margin-left: 2em;
      float: bottom;
      margin-bottom: 2em;
    }

    .comment-and-button-wrapper {
      border: solid black;
    }


  </style>

    <div id="report-comments-wrapper">
      <h3>Reported Comments</h3>
      <p>Below you can see comments reported by users.</p>
      <div id="comments-wrapper">
          {% for comment in program_details.comments|slice(0, 10) %}
              <div class = "single-comment">
                  <div class = "user-name-date-wrapper">
                    <div class = "usr-name">{{ comment.username }}</div>
                    <div class = "date">{{ comment.uploadDate.format('Y-m-d') }}</div>
                    <div class = "comment-and-button-wrapper">
                      <p>{{ comment.text }}</p>
                      <button class="delete-button" data-commentId="{{ comment.id }}">{{ 'programs.delete'|trans({}, 'catroweb') }}</button>
                    </div>
                  </div>

              </div>
          {% endfor %}
      </div>
    </div>

    <script>
        $(document).on("click", ".delete-button", function() {
            var commentId = $(this).data('commentid');
            alert(commentId)
            $.ajax({
                url:"deleteComment",
                type: "get",
                data:{CommentId: commentId},
                success: function(data) {
                    alert(data)
                    $('#comments-wrapper').load(' #comments-wrapper');
                    $('.msg').val("");
                },
                error: function(data) {
                   // alert(data);
                    alert("something went exceedingly terribly wrong");
                }});
        });
    </script>
{% endblock %}

